body {
  background: #f5f5f5;
}

h1 {
  font-size: 3em;
  color: #5c7ebb;
  font-family: cursive;
}

.App {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #81a1da;
  color: white;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.todo-list-container {
  width: 35vw;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.todo-list-input input {
  width: 35vw;
  padding: 15px 30px;
  font-size: 25px;
  box-sizing: border-box;
  border: none;
  box-shadow: inset 0px -2px 1px rgba(0,0,0,0.2);
}

.todo-list-input input:focus {
  outline: none;
}

.todo-list-filters {
  border-top: 1px solid rgba(0,0,0,0.2);
  background: white;
  padding: 10px 15px;
}

.todo-list-filters a {
  padding: 3px;
  margin: 0 5px;
  text-decoration: none;
  color: purple;
}

.todo-list-filters a:visited{
  color: purple;
}

.filter-active-class {
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 3px;
}

.todo-list-item {
  width: 35vw;
  padding: 10px 5px;
  font-size: 20px;
  box-sizing: border-box;
  text-align: start;
  background: #e6e6fa4d;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.todo-list-item span {
  padding-left: 5px;
}

.todo-list-item input {
  margin-left: 5px;
  transform: scale(1.5);
}

::-webkit-input-placeholder {
  font-style: italic;
}

